{% extends "jftapp/home.html" %}
{% load jftapp_extras %}

{% block title %} | Index{% endblock %}
{% block heading %}Index{% endblock %}
{% block contents %}
  <ul class="list-group">
    {% for page in pages %}
      <li class="list-group-item"><a href="/jft/{{ page.date|date:'M'|lower }}/{{ page.date|date:'d'}}" >{{ page.heading }}</a></li>
    {% endfor %}  
  </ul>
  {% if show_paginator %}
    <div class="paginator">
      {% if has_prev %}
        <a href="?page={{ prev_page }}">&laquo; Previous </a>
      {% endif %}
      {% if has_next %}
        <a href="?page={{ next_page }}">Next &raquo;</a>
      {% endif %}
      (Page {{ page }} of {{ num_pages }})
    </div>
  {% endif %}
{% endblock %}
