{% extends "jftapp/base.html" %}

{% load jftapp_extras %}

{% block content %}
    {% for paragraph in jft_contents|parasplit %}
        {% if forloop.counter == 1 %}
            <p class="alignleft">{{ paragraph|wordslice:"2:5" }}</p>
            <p class="alignright">{{ paragraph|wordslice:"5:"}}</p>
        {% else %}
            {% if forloop.counter == 2 %}
                <p class="aligncenter">{{ paragraph }}</p>
            {% else %}
                {% if forloop.counter == 3 %}
                    {% ifnotequal paragraph '                           ----=----' %}
                        <p class="alignright">{{ paragraph }}</p>
                    {% endifnotequal %}
                {% else %}
                    {% ifequal paragraph '                           ----=----' %}
                        <p class="aligncenter">{{ paragraph }}</p>
                    {% else %}
                        <p>{{ paragraph }}</p>
                    {% endifequal %}
                {% endif %}
            {% endif %}
        {% endif %}
        <div style="clear: both;"></div>
    {% endfor %}
{% endblock %}

{% block footer %}
  <hr>
  <p id="footer">Copyright (c) 1991-2009 by Narcotics Anonymous World Services, Inc. All Rights Reserved</p>
{% endblock %}
