{% extends "jftapp/base.html" %}

{% load jftapp_extras %}

{% block content %}
    {% for paragraph in jft_contents|parasplit %}
        {% if forloop.counter == 1 %}
            <time datetime="">
              <p><strong class="alignleft">{{ paragraph|wordslice:"2:5" }}</strong></p>
            </time>
            <p><strong class="alignright">{{ paragraph|wordslice:"5:"}}</strong></p>
        {% else %}
            {% if forloop.counter == 2 %}
                <blockquote cite="#"><p class="aligncenter">{{ paragraph }}</p></blockquote>
            {% else %}
                {% if forloop.counter == 3 %}
                    {% ifnotequal paragraph '                           ----=----' %}
                        <em class="alignright">{{ paragraph }}</em>
                    {% endifnotequal %}
                {% else %}
                    {% ifequal paragraph '                           ----=----' %}
                        <p class="aligncenter">{{ paragraph }}</p>
                    {% else %}
                        <p>{{ paragraph }}</p>
                    {% endifequal %}
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="clearfloat"></div>
    {% endfor %}
{% endblock %}
